<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
		<add key="pathXmlUser" value="C:\\Users\\user\\Desktop\\zio cocco\\Users.xml"/>
		<add key="pathLibri" value="C:\\Users\\user\\Desktop\\zio cocco\\Libri_01.txt"/>
    </appSettings>
</configuration>
<!--C:\\Users\\manci\\Downloads\\Users.xml   PATH SALVATAGGIO USER PC FISSO-->
<!--C:\\Users\\user\\Desktop\\zio cocco\\Users.xml   PATH SALVATAGGIO USER PC portatile-->
